.photo-main{
background: url("image/open-source.png") no-repeat top fixed ;
background-size:cover;
-webkit-background-size: cover;
width: 100%;
height: 600px;
}
.one{
height: 50px;

}
.last-page{
background-color: #f4d955;
color: white;
font-size: 20px;
}
.last-page1{
margin-top: 10px;
background-color: #f4d955;
}
.text-white{
background-color: #282828;
}
.dayone{
background-color: #282828;
}
.day{
margin-top: 10px;
color: white;
background-color: #282828;
}
.title{
margin-top: 30px;
margin-bottom: 30px;
font-size: 30px;
}
.nom-site{
font-size: 100px;
}
.defilement{
margin-top: 10px;
}
.nav{
background-color: white;
}
.color{
background-color: black;
color: white;
}
.badge-danger{
background-color: #d94231;
margin-top: 15px;
}
a:hover{
text-decoration: none;
color: white;
}
a{
color: white;
}
.nav-bar{
background-color: #282828;
color: white;
}

.theone{
background-color: #282828;
color: white;
}
.dropdown:hover{
background-color: #f4d955;
}
.btn{
width: 500px;
margin-top: 40px;
background-color: #d73964;
color: white;
}
.btn-danger{
background-color: #d94231;;
}
.sous-titre{
font-size: 30px;
}
.presentation{
margin-top: 40px;
height: 300px;
}
.statistique{
font-size: 40px;
}
.link-accueil{
color: black;
}
.nav2{
margin-top: 20px;
}
.hr-nav2{
background-color: black;
}


.title-article{
font-size: 30px;
}
.sous-title-article{
    font-size: 25px;

    color: #434343;
}
.card-img-top{
    height: 540px;
    margin-bottom: 50px;
}
