
.body{
    font-family: 'Poiret One', cursive;
}
.one{
    height: 50px;
}

.big-title1{
    margin-top: 20px;
    padding-left: 40px;
}
.big-title2{
    margin-top: 20px;
    padding-left: 80px;
}
.big-title3{
    margin-top: 20px;
    padding-left: 80px;
}
.big-under-title2{

    text-align: center;
}
.big-under-title{
    text-align: center;
    margin-top: 40px;
}
.last-page{
    background-color: #f4d955;
    color: white;
    font-size: 20px;
}
.last-page1{
    margin-top: 10px;
    background-color: #f4d955;
}
.text-white{
    background-color: #282828;
}
.dayone{
    background-color: #282828;
}
.day{
    margin-top: 10px;
    color: white;
    background-color: #282828;
}
.title{
    margin-top: 100px;

}
.nom-site{
    font-size: 100px;
}
.fa-home{
    color: #1e7e34;
}
.defilement{
    margin-top: 10px;
}

.nav{
    background-color: white;
}
.color{
    background-color: black;
    color: white;
}
.badge-danger{
    background-color: #d94231;
    margin-top: 15px;
}
a:hover{
    text-decoration: none;
    color: white;
}
a{
    color: white;
}
.nav-bar{
    background-color: #282828;
    color: white;
}

.theone{
    background-color: #282828;
    color: white;
}
.dropdown:hover{
    background-color: #f4d955;
}
.btn{
    width: 500px;
    margin-top: 40px;
    background-color: #d73964;
    color: white;
}
.btn-danger{
    background-color: #d94231;;
}
.sous-titre{
    font-size: 15px;
}
.presentation{
    margin-top: 40px;
    height: 300px;
}
.statistique{
    font-size: 40px;
}
.link-accueil{
    color: black;
}
.nav2{
    margin-top: 20px;
}
.hr-nav2{
    background-color: black;
}
.color-nourriture{
    color: orange;
}
.color-water{
    color: cornflowerblue;
}
.color-energie{
    color: red;
}
.color-habitat{
    color: green;
}
.taille-dessalinasteur{
    height: 290px;
    width: 300px;
}

.taille-ferme-urbaine{
    height: 290px;
    width: 300px;
}
.description-ferme-urbaine{
    padding-top: 30px;

}

.taille-tour-solaire{
    height: 290px;
    width: 300px;
    margin-top: 20px;
}
.image-showerloop{
    height: 194px;
    width: 259px;
    border-radius: 50px;
    margin-left: 90px;
}
.phrase-premier-mot{
    padding-left: 130px;
    color: #f4d955;
}
.phrase-deuxieme-mot{

    padding-left: 190px;
    color: #f4d955;
}
.phrase-troisieme-mot{
    margin-top: 40px;
    padding-left: 160px;
    color: #f4d955;
}
.footer{
    background-color: #282828;
    color: white;
}
.espace1{
    height: 70px;
}
.photo-main{
    background: url("image/terre1.png") no-repeat top fixed ;
    background-size:cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 600px;
}
.about{
    padding-left: 30px;
}


@media only screen and (max-width: 1200px) {
    .nom-site{
        font-size: 90px;
    }
    .phrase-deuxieme-mot{
        margin-top: 10px;
    }
    .taille-ferme-urbaine{
        height: 270px;
        width: 280px;
    }
    .taille-dessalinasteur{
        height: 270px;
        width: 280px;
    }
    .taille-tour-solaire{
        height: 270px;
        width: 280px;
    }
    .image-showerloop{
        height: 194px;
        width: 259px;
        border-radius: 50px;
        margin-left: 55px;
    }
    .big-title1{
        padding-left: 20px;
    }
    .big-title2{
        padding-left: 40px;
    }
    .big-title3{
        padding-left: 50px;
    }
    .phrase-premier-mot{
        padding-left: 90px;
    }
    .phrase-deuxieme-mot{
        padding-top: 20px;
        padding-left: 160px;
    }
    .phrase-troisieme-mot{
        padding-left: 120px;
    }
}
@media only screen and (max-width: 990px) {
    .nom-site{
        font-size: 80px;
    }
    .title{
        margin-left: 200px;
        padding-top: 50px;
    }
    .taille-ferme-urbaine{
        width: 225px;
        height: 235px;
    }
    .taille-dessalinasteur{
        width: 225px;
        height: 235px;
    }
    .taille-tour-solaire{
        width: 225px;
        height: 235px;
    }
    .description{
        padding-left: 20px;
    }
    .description-ferme-urbaine{
        padding-top: 20px;
    }
    .image-showerloop{
        height: 194px;
        width: 259px;
        border-radius: 50px;
        margin-left: 20px;
    }
    .big-under-title{
        margin-top: 15px;
    }
    .phrase-premier-mot{
        padding-left: 60px;
    }
    .phrase-deuxieme-mot{
        padding-top: 20px;
        padding-left: 130px;
    }
    .phrase-troisieme-mot{
        padding-left: 90px;
        padding-top: 20px;
    }
}


@media only screen and (max-width: 768px) {
    .last-page1{
        display: none;
    }
    .last-page{
        background-color:  #282828;
    }
    .nom-site{
        font-size: 70px;
    }
    .title{
        margin-left: 120px;
    }
    .presentation{

        height: 500px;
    }
    .espace1{
        height: 50px;
    }
    .taille-ferme-urbaine{
        height: 190px;
        width: 180px;

    }
    .taille-dessalinasteur{
        height: 190px;
        width: 180px;

    }
    .taille-tour-solaire{
        height: 190px;
        width: 180px;
        margin-top: 20px;


    }
    .description-ferme-urbaine{
        padding-top: 30px;
        font-size: 12px;
        text-align: center;

    }
    .description{
        padding-left: 20px;
        font-size: 13px;
        text-align: center;
    }
    .image-showerloop{
        margin-left: 230px;
    }
    .big-title1{
        margin-left: 120px;
    }
    .phrase-premier-mot{
        display: none;
    }
    .big-title2{
        margin-left: 170px;
    }
    .phrase-deuxieme-mot{
        display: none;
    }
    .big-title3{
        margin-left: 150px;
    }
    .phrase-troisieme-mot{
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    .nom-site{
        font-size: 50px;
    }
    .btn{
        width: 300px;
        margin-top: 40px;
        background-color: #d73964;
        color: white;
    }
    .title{
        margin-left: 1px;
        padding-left: 120px;

    }
    .photo-main{

        height: 500px;
    }
    #navbarDropdown{
        font-size: 13px;
    }
    .nav-link{
        font-size: 13px;
    }
    .taille-ferme-urbaine{
        height: 270px;
        width: 270px;
    }
    .taille-dessalinasteur{
        height: 270px;
        width: 270px;
        margin-top: 20px;
    }
    .taille-tour-solaire{
        height: 270px;
        width: 270px;
        margin-top: 20px;
    }
    .image-showerloop{
        margin-left: 140px;
    }
    .big-title1{
        margin-left: 100px;
    }
    .big-title2{
        margin-left: 80px;
    }
    .big-title3{
        margin-left: 70px;
    }
    .footer{
        font-size: 15px;
    }
    .description{
        font-size: 15px;
    }
    .description-ferme-urbaine{
        font-size: 15px;
    }
}











