
.home{

    background-color: #34495e;
    color: white;
}
.logo-home{
    height:100px;
  margin-left: 5px;
}
.form-inline{
  margin-top: 20px;
}
.photo-panier{
  height:100px;
  margin-left: 45px;

}
.arcade{
    height: 20px;
}
.langue{
    height: 20px;
}
.levre{
    height: 20px;
}
.oreille{
    height: 20px;
}
.nez{
    height: 20px;
}
.soutient-gorge{
    height: 20px;
}
.ventre{
    height:20px;
}





.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.menu {
  margin-left: 150px;
  width: 800px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;

}

.menu > li {
  background: deeppink;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}

.menu li:hover {
  background: deeppink;
}

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;
}

.submenu > li > a {
  padding: 1em 2em;
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);
}
.carousel{
  margin: 100px 0 0 50px;
  width:100%;
}
.navdeux{
  margin-top: 50px;
}

.boutique{
  float: left;
}
.photo-footer{
  height:200px;
  width: 100%;
}
.photo-footer2{
  height: 500px;
  width: 100%;
}

.photo{
  height: 100px;
  width: 100px;
}
.img{
  height: 100px;
  width: 100px;
}
.space{
  height: 100px;
}
.nav-item nav-link:hover{
  background-color: deeppink;
}
.card-img-top{
  height: 200px;
  width: 252px;
}
.card{
  width: 255px;
  margin: 10px;


}
.card-body{
  width: 268px;

}
.space2{
  height: 20px;
}
.footer1{
  background-color: deeppink;
  height: 70px;
  color: white;
  font-size: 23px;
  padding-top: 10px;
}
.phrase{
  margin-top: 5px;
}
.footer2{
  background-color: #34495e;
  color: white;
}

.rond{
  width: 80px;
  height: 80px;
  background: lightgrey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-left: 120px;
  margin-top: 15px;
}
.fa-lock, .fa-clock, .fa-headphones, .fa-truck{
  margin-left: 25px;
  margin-top: 20px;
  color: black;
}

.line{
  border-right: 1px solid grey;
  height: 200px;
  margin-top: 10px;

}
.title-index{
  font-size: 18px;
  text-align: center;
}
.sous-title-index{
  font-size: 13px;
  text-align: center;

}
.color{
  background-color: #34495e;
  color: white;
}
.logo{
  color: white;
}
.logo:hover{
  color: deeppink;
}
h2{
  color: deeppink;
}
.trait-white{
  background-color: white;
}
.line-footer{
color: white;
}
.line-footer:hover{
  color: deeppink;
  text-decoration: none;
}
