* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display', serif;
}
.espace-index{
    height: 250px;
}
.space{
    height: 50px;
}
.espace-contemporain{
    height: 50px;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.nav-link.disabled{
    background-color: #eff2f7;
}
.snow-navbar{
    font-size: 25px;
}
.navbar-brand {
    background-color: white;
}
.nav-link {
    background-color: white;
}
.sous-titre-home{
    color: black;
    font-size: 35px;
}
.h3-index{
    margin-top: 10px;
    height:20px;
    width: 150px;
}
.modal{
    margin-top: 200px;
}
.header-title {
    text-align: center;
    color:#00bfff;
}
#tip{
    display:none;
}
.fadeIn{
    animation-duration: 3s;
}
.form-control {
    border-radius:0px;
    border:1px solid #EDEDED;
}
#dropdownMenuButton{
    cursor:pointer;
    outline: none;
    border:none;
}
.form-control:focus {
    border:1px solid #00bfff;
}
.textarea-contact {
    resize:none;
}
.btn-send {
    border-radius: 0px;
    border:1px solid #00bfff;
    background:#00bfff;
    color:#fff;
}
.btn-send:hover {
    border:1px solid #00bfff;
    background:#fff;
    color:#00bfff;
    transition:background 0.5s;
}
.second-portion {
    margin-top:50px;
}
.jumbotron{
    background-color: white;

}
.slidezero{
    height: 400px;
    background-color: white;
}
.one{
    background-color: #eff2f7;
    box-shadow: 1px 1px 12px black;
    border-radius:3px;
}
.photo-nav{
    height: 40px;
    margin-left: 5px;
}
.un{
    text-align: center;
    background-color:#eff2f7;
}
.titre-home{
    font-size: 23px;
    color: grey;
}
.taille-photo-accesoire{
    height: 650px;
    width: 650px;
}
.deux{
    justify-content: flex-end;
}
.lettre-home{
    color: black;
}
.last-text-home{
    font-size: 20px;
    margin-top: 10px;
    color: black;
 }
.chiffre-home{
    font-size: 30px;
    color: lightslategrey;
}
.two{
    height: 200px;
}
.three{
    border-radius:3px;
    background-color: #eff2f7;
    height: 60px;
}
.snow{
    margin-top: 20px;
}
.nav-item{
    margin-top: 10px;
}
.img{
    width: 500px;
    height: 300px;
}
.img1{
    height:300px;
}
.text-Snow{
    font-size:30px;
    margin-top: 40px;
}
.card-img1-modern{
    height: 355px;
    width: 355px;
}
.card-img2-modern{
    height: 400px;
    width: 355px;
}
.five{
    height: 100px;
}
.titre-history{
    font-size: 30px;
    margin-top: 40px;
    color: black;
}
.sous-titre-history{
    margin-bottom: 60px;
    color: grey;
}
.img2{
    height: 300px;
    width:370px;
}

.six{
    box-shadow: 1px 1px 12px black;
    border-radius:3px;
}
.photo-accesoire-slide5{
    margin-left: 20px;
    height: 660px;
    width: 660px;
}

.titre-buy{
    font-size: 45px;
    color: black;
    text-align: center;
}
.fa-arrow-left{
    color: black;
    padding-left: 220px;
    font-size: 30px;
}
.fa-arrow-right{
    color: black;
    padding-left: 200px;
    font-size: 30px;
}

.img-slide5{
    height: 400px;
    width: 750px;
}
.lit-fixe-buy{
    height: 300px;
    width: 750px;
}
.sous-text-slide-chiffre{
    font-size: 50px;
    color: lightslategrey;
    margin-left: 20px;
}
.sous-text-slide5{
    color:black;
    margin-left: 20px;
    font-size: 20px;
}
.sous-text-buy{
    margin:30px 0 0 50px ;
    color: black;
    font-size: 30px;
}
.sous-sous-text-buy{
    margin:30px 0 0 50px ;
    color: black;
}
.seven{
    box-shadow: 1px 1px 12px black;
    border-radius:3px;
}
.photo-fleur-objectif{
    height: 300px;
    width: 555px;
}
.photo-chaise-objectif{
    width: 100%;
    height:100%;
}
.photo-boucle-objectif{
    width: 370px;
    height:370px;
}
.height{
    background-color: white;
}
.col-6{
    padding:0;
}
.col-4{
    padding:0;
}
.height{
    background-color: aliceblue;
}
.sous-titre-objectif{
    color: grey;
    font-size:  14px;
}
.titre-objectif{
    font-size: 30px;
    color:black;
}
.header-title{
    color: black;
}
#dropdownMenuButton {
    background-color: white;
}
.buy_dropdwn{
    padding-left: 65px;
}
.dropdownContact{
    margin-left: 65px;
}
.dropdownObjectif{
    margin-left: 50px;
}
.espace-modern{
    height: 20px;
}

@import url(//fonts.googleapis.com/css?family=Lato:400,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.titre-contemporary{
    color: black;
    font-size: 30px;
    padding-top: 100px;
}
.sous-titre-contemporary{
    color: grey;
    font-size: 18px;
}
.last-texte-contemporary{
    color: black;
    font-size:15px;
}
.card-image-contemporain{
    width: 420px;
    height: 420px;
}
.info-card {
    float: left;
    -webkit-perspective: 600px;
    margin-left: 20px;
    margin-top: 30px;
    width: 420px;
    height: 420px;
}
.front, .back {
    width: 420px;
    height: 420px;
    background: #FFF;
    transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.photo-mef-canapé{
    width:600px;
    padding-left: 20px;
}
.front {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.back {
    -webkit-transform: rotateY(-180deg);
    overflow: scroll;
    text-align: center;
}
.info-card:hover .back {
    -webkit-transform: rotateY(0);
}
.info-card:hover .front {
    -webkit-transform: rotateY(180deg);
}
.card-image1, .card-image {
    width: 320px;
    height: 320px;
}
.info-card1 {
    margin-left: 5px;
    margin-top: 30px;
    width: 320px;
    height: 320px;
    float: left;
    -webkit-perspective: 600px;
}
.front1, .back1 {
    width: 320px;
    height: 320px;
    background: #FFF;
    transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.front1 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.back1 {
    -webkit-transform: rotateY(-180deg);
    overflow: scroll;
    text-align: center;
}
.social-network-index-histoire{
    margin-top: 20px;
}
.info-card1:hover .back1 {
    -webkit-transform: rotateY(0);
}
.info-card1:hover .front1 {
    -webkit-transform: rotateY(180deg);
}
.info-card2 {
    width: 650px;
    height: 650px;
    margin-left: 25px;
    float: left;
    -webkit-perspective: 600px;
}
.front2, .back2 {
    width: 650px;
    height: 650px;
    background: #FFF;
    transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.card-image2 {
    width: 650px;
    height: 650px;
}
.front2 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.back2 {
    -webkit-transform: rotateY(-180deg);
    overflow: scroll;
    text-align: center;
}
.info-card2:hover .back2 {
    -webkit-transform: rotateY(0);
}
.info-card2:hover .front2 {
    -webkit-transform: rotateY(180deg);
}
#parent{
    margin-top: 70px;
}
.homeDropdown{
    margin-left: 70px;
}

.ModernDropdown{
    margin-left: 40px;
}

p { color: #ffffff;  }

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 980px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}

.panel {
    margin: 0 auto;
    height: 130px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.panel .front,
.panel .back {
    text-align: center;
}

.panel .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
    background-color: #d52685;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.box2{
    background-color: #ffcc00;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

a {
    background-color: #D3D3D3;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }



@media only screen and (max-width: 1200px){

    .photo-accesoire-slide5{
        height: 560px;
        width: 560px;
        margin-left: 20px
    }
    .titre-buy{
        font-size: 33px;
    }
    .fa-arrow-left{
        padding-left: 200px;
    }
    .fa-arrow-right{
        padding-left: 130px;
    }
    .photo-fleur-objectif{
        width: 475px;
    }
    .front2, .back2{
        height: 550px;
        width: 550px;
    }
    .info-card2{
        height: 550px;
        width: 550px;
    }
    .card-image2{
        height: 550px;
        width: 550px;
    }
    .photo-boucle-objectif{
        height: 320px;
        width: 320px;
    }
    .card-img1-modern{
        width: 295px;
        height: 295px;
    }
    .card-img2-modern{
        width: 295px;
        height: 345px;
    }
    .jumbotron {
        margin-bottom: 0px;
    }
    .photo-mef-canapé {
        height: 335px;
        width: 500px;
        margin-left: 20px;
    }
    .front, back {
        width: 345px;
        height: 345px;
    }
    .card-image-contemporain{
        width: 345px;
        height: 345px;
    }
    .info-card {
        width: 345px;
        height: 345px;
        margin-left: 40px;
    }
    .lettre-home{
        display: none;
    }
    .homeDropdown{
        margin-left: 50px;
    }
    .ModernDropdown{
       margin-left: 130px;
    }
    .info-card1{
        height: 370px;
        width: 370px;
        margin-left: 0px;
        margin-top: 25px;
    }
    .front1, .back1{
        height: 370px;
        width: 370px;
    }
    .card-image1, .card-image{
        height: 370px;
        width: 370px;
    }
    .dropdownObjectif{
        margin-left: 30px;
    }
    .info-card2{
        margin-right: 50px;
    }
    .logo-contact{
        margin-left: 100px;
    }
}
@media only screen and (max-width: 990px){

    #dropdownMenuButtonhome{
        margin-left: 60px;
    }
    .photo-fleur-objectif{
        width: 345px;
    }
    .photo-boucle-objectif{
        height: 230px;
        width: 230px;
    }
    .titre-buy{
        font-size: 30px;
        padding-left: 50px;
    }
    .fa-arrow-left{
        padding-left: 170px;
    }
    .photo-accesoire-slide5{
        width: 430px;
        height: 430px;
        margin-left: 25px;
    }
    .front2, .back2{
        width: 450px;
        height: 450px;
    }
    .info-card2{
        width: 450px;
        height: 450px;
        margin-left: 0px;
    }
    .card-image2{
        width: 450px;
        height: 450px;
        margin-left: 25px;
    }
    .sous-text-slide-chiffre{
        font-size: 33px;
    }
    .sous-text-slide5{
        font-size: 18px;
    }
    .sous-text-slide5{
        font-size: 18px;
    }
    .card-img1-modern{
        width: 215px;
        height: 215px;
    }
    .card-img2-modern{
        width: 215px;
        height: 250px;
    }
    .jumbotron{
        margin-bottom: 0px;
    }
    .photo-mef-canapé {
        height: 400px;
        width: 800px;
        margin-left: 90px;
    }
    .homeDropdown{
        margin-left: 30px;
    }
    .ModernDropdown{
        margin-left: 10px;
    }
    .info-card1{
        width: 298px;
        height: 298px;
    }
    .card-image1, .card-image{
        width: 298px;
        height: 298px;
    }
    .front1, .back1{
        width: 298px;
        height: 298px;
    }
    .social-network-index-histoire{
        margin-top: 30px;
    }
    .dropdownObjectif{
        margin-left: 10px;
    }
    .buy_dropdwn{
        margin-left: 50px;
    }
    .dropdownContact{
        margin-left: 40px;
    }
    .taille-photo-accesoire{
        height: 500px;
        width: 500px;
    }
    .card-image-contemporain{
        width: 450px;
        height: 450px;
    }
    .info-card{
        height: 450px;
        width: 450px;
        margin-left: 20px;
    }
    .front, back {
        height: 450px;
        width: 450px;
    }
    .titre-contemporary{
        margin-left: 350px;
    }
    .sous-titre-contemporary{
        margin-left: 100px;
        font-size: 20px;
    }
    .last-texte-contemporary{
        margin-left: 450px;
    }
}
@media only screen and (max-width: 768px){

    .espace-modern{
        height: 0px;
    }
    .titleMain{
        display: none;
    }
    .photo-fleur-objectif{
        display: none;
    }
    .photo-chaise-objectif{
        display: none;
    }
    .photo-boucle-objectif{
        height: 500px;
        width: 500px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .card-image2{
        width: 550px;
        height: 550px;
        margin-left: 45px;
        margin-top: 20px;
    }
    .dropdownContact{
        margin-right: 100px;
    }
    .dropdownObjectif{
        margin-left: 10px;
    }
    .sous-text-slide-chiffre{
        font-size: 40px;
    }
    .sous-text-slide5{
        font-size: 30px;
    }
    .titre-objectif{
        font-size: 35px;
    }
    .sous-titre-objectif{
        font-size: 20px;
    }
    .card-img1-modern{
        width: 166px;
        height: 185px;
    }
    .card-img2-modern{
        width: 166px;
        height: 225px;
    }
    .card-columns{
        width: 540px;
        height: 675px;
    }
    .jumbotron{
        height: 200px;
    }
    .photo-mef-canapé {
        width: 670px;
        height: 380px;
        margin-left: 30px;
    }
    .card-image, .card-image1{
        height: 350px;
        width: 350px;
    }
    .info-card1{
        height: 350px;
        width: 350px;
    }
    .front1, .back1{
        height: 350px;
        width: 350px;
    }
    .card-image-contemporain{
        height: 350px;
        width: 350px;
    }
    .front, .back{
        height: 350px;
        width: 350px;
    }
    .info-card{
        height: 350px;
        width: 350px;
        margin-left: 10px;
    }
    .titre-contemporary{
        margin-left: 180px;
    }
    .sous-titre-contemporary{
        margin-left: 20px;
        font-size: 20px;
    }
    .last-texte-contemporary {
        margin-left: 280px;
    }
    .taille-photo-accesoire{
        height: 550px;
        width: 550px;
        margin-left: 50px;
    }
    .ModernDropdown{
        margin-left: 0px;
    }
    .buy_dropdwn{
        padding: 0px;
        margin-left: 20px;
    }
    .titre-buy{
        padding: 0px;
        margin-left: 0px;
    }
    .fa-arrow-left{
        padding-left: 280px;
    }
    .photo-accesoire-slide5{
        width: 550px;
        height: 550px;
        margin-left: 100px;
    }
    .back2, .front2{
        height: 550px;
        width: 550px;
    }
    .card-image2{
        height: 550px;
        width: 550px;
    }
    .info-card2{
        height: 550px;
        width: 550px;
        margin-left: 75px;
    }
    .space{
        height: 0px;
    }
    .space2{
        height: 50px;
    }
    .dropdownContact{
        margin-left: 30px;
        margin-right: 0px;
    }
    .homeDropdown{
        margin-left: 20px;
    }
    .last-text-home{
        padding-top: 10px;
    }
    .espace-index{
        height: 150px;
    }
    .space-index-1{
        height: 150px;
    }
}
@media only screen and (max-width: 576px) {

    .card-img1-modern{
        width: 410px;
        height: 410px;
     }
    .card-img2-modern{
        width: 410px;
        height: 410px;
    }
    .card-columns{
        width: 410px;
        margin-left: 70px;
    }
    .modernContainer{
        height: 3850px;
    }
    .ModernDropdown{
        margin-left: 20px;
    }
    .photo-mef-canapé {
        width: 538px;
        height: 350px;
        margin-left: 5px;
        padding: 0px;
    }
    .titre-contemporary{
        margin-left: 90px;
    }
    .sous-titre-contemporary{
        margin-top: 20px;
    }
    .last-texte-contemporary{
        margin-left: 190px;
    }
    .info-card{
        width: 450px;
        height: 450px;
    }
    .front, back{
        width: 450px;
        height: 450px;
        margin-left: 45px;
    }
    .card-image-contemporain{
        width: 450px;
        height: 450px;
    }
    .info-card1{
        margin-left: 100px;
        height: 350px;
        width: 350px;
    }
    .card-image1{
        height: 350px;
        width: 350px;
    }
    .dropdownObjectif{
        margin-left: 20px;
    }
    .photo-accesoire-slide5{
        margin-left: 0px;
    }
    .fa-arrow-left{
        padding-left: 180px;
    }
    .front2, back2{
        height: 500px;
        width: 500px;
    }
    .info-card2{
        height: 500px;
        width: 500px;
        margin-left: 0px;
    }
    .card-image2{
        height: 500px;
        width: 500px;
    }
    .dropdownContact{
        margin-right: 0px;
        margin-left: 0px;
    }
    .taille-photo-accesoire{
        height: 450px;
        width: 450px;
        margin-right: 10px;
    }
    .homeDropdown{
        margin-left: 10px;
    }
    .photo-boucle-objectif{
        margin-left: 20px;
    }
    .titre-objectif{
        margin-left: 20px;
    }
    .sous-titre-objectif{
        margin-left: 20px;
    }
}






