*{
  margin: 0;
  padding: 0;
}
.title{
    color: yellowgreen;
    border: 5px solid lightslategrey;
    padding-left: 7px;
}
.espace{
    height: 100px;
}
.card{
    margin-left: 20px;
    margin-top: 30px;
    width: 350px;
    box-shadow: 8px 8px 8px grey;
}
.card-body{
    background-color: yellowgreen;
    text-align: center;
    border-color: #0c5460;
    text-decoration-line: none;
}
.description{
    margin-top: 80px;
}
.trait{
    margin-top: 45px;
    background-color: lightslategrey;
}
.h3-index{
    margin-top: 4px;
    height:20px;
    width: 150px;
    font-size: large;
}
.card-text{
    color: white;
    text-decoration: none;
}
.card-text:hover{
    color: palevioletred;
    text-decoration: none;
}
.color{
    background-color: lightslategrey;
    color: white;
    height: 350px;
}
.trait-white{
    background-color: white;
}
.contact{
    margin-top: 40px;
}
.logo{
    color: white;
}
.logo:hover{
    color: palevioletred;
}
