.block-100p-pink-shadow{
  width: 100%;
  background-color: #ff5b9f;
}
.containeur-Pink{
  display: flex;
  flex-direction:row;
  height: 50px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.logoUisumo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
  color: white;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  height: 100%;
}
.menu>a{
  padding-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 0.7em;
}

.logoRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
}
.tailleLogoNavigation{
  height: 50px;
}
.block-100p-pink-degrad{
  width: 100%;
  background-image: url(./imagesMondePixel.png);
  height: 690px;
  background-size: 1450px;
}
.containeur-Monde{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 470px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;

}
.titre{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
}
.taille-Titre{
  font-size: 30px;
  color: white;

}
.sous-titre{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50%;

}
.taille-Sous-Titre{
color: white;
}
.boutton-Jaune{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20%;
  background-color: #fed45c;
  border:solid;
  border-radius: 50px;
  border: none;
}
.text-Boutton-jaune{
  font-size: 0.6em;
  text-transform: uppercase;
}

.positionement-point-gris-un{
  height: 80px;
  position: absolute;
  top:270px;
  left: 80px;
}
.positionement-point-gris-deux{
  height: 80px;
  position: absolute;
  bottom: 330px;
  left: 250px;
}
.positionement-point-gris-trois{
  height: 80px;
  position: absolute;
  bottom: 380px;
  left: 500px;
}
.positionement-point-gris-quatre{
  height: 80px;
  position: absolute;
  bottom:230px;
  left: 540px;
}
.positionement-point-gris-cinq{
  height: 80px;
  position: relative;
  bottom: 120px;
  left: 710px;
}
.positionement-point-gris-six{
  height: 80px;
  position: absolute;
  bottom:400px;
  right:460px;
}
.positionement-point-gris-sept{
  height: 80px;
  position: absolute;
  top:140px;
  right:360px;
}
.positionement-point-gris-huit{
  height: 80px;
  position: absolute;
  top: 380px;
  right:260px;
}
.positionement-point-gris-neuf{
  height: 80px;
  position: absolute;
  bottom: 460px;
  right:130px;
}
.positionement-point-gris-dix{
  height: 100px;
  position: relative;
  top:170px;
  left: 370px;
}
.positionement-point-gris-onze{
  height: 100px;
  position: relative;
  top:170px;
  left: 370px;
}
.positionement-point-gris-douze{
  height: 100px;
  position: relative;
  top:170px;
  left: 370px;
}
.positionement-point-gris-treize{
  height: 100px;
  position: relative;
  top:170px;
  left: 370px;
}
.positionement-point-gris-quatorze{
  height: 100px;
  position: relative;
  top:170px;
  left: 370px;
}
.block-100p-white{
  width: 100%;
}
.containeur-Description-Image{
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.block-Left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 50%;
}
.position-block-left{
margin-top: 100px;
}
.titre-Containeur-Description-Image{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  width: 40%;

}
.taille-Titre-Containeur-Description-Image{
font-size: 0.6em;
color: #808080;
}
.sous-titre-Containeur-Description-Image{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;

}
.taille-Sous-Titre-Containeur-Description-Image{
font-size: 1.4em;
font-weight: 100;
color: #222222;
}
.text-Containeur-Description-Image{
  height: 100px;
  width: 100%;

}
.valeur-text{
font-size: 0.7em;
color: #777777
}
.boutton-Jaune-Containeur-Description-Image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 25%;
  background-color: #fed45c;
  border: solid;
  border-radius: 50px;
  border: none;

}
.text-boutton-Jaune-Containeur-Description-Image{
font-size: 0.5em;
}
.block-Right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 50%;

}
.position-block-right{
margin-top: 100px;
}
.blockGrey{
  height: 220px;
  width: 80%;
  background-color: #d0d0d0;
  border: solid;
  border-color: #d0d0d0;
  border-radius: 3px;
}


.containeur-director{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.valeur-logo-bulle{
  height: 20px;
}
.titre-director{
  color: #403e3e;
  font-size: 0.6em;
}
.text-director{
  color: #b5b5b5;
font-size: 0.8em;
}
.sous-titre-director{
  display: flex;
  flex-direction: row;
  font-size: 0.6em;
}
.texture-timanderson{
  font-weight: bold;
  color: #222222;
}
.texture-director{
  color: #b5b5b5;
}
.block-100p-grey{
  width: 100%;
  background-color: #fcfcfc;
}
.containeur-trois-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.block-logo-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 32%;
}
.block-logo-middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 32%;
}
.block-logo-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 32%;
}
.valeur-trois-logo{
  height: 35px;
}
.valeur-titre-trois-logo{
  font-size: 0.7em;
}
.block-100p-pink-linear-gradient{
  width: 100%;
  background-image: url(./bgImages.png)
}
.containeur-statistic{
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.block-statistic-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
}
.block-materiel-informatique{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.taille-materiel-informatique{
  height: 150px;
  width: 60%;
}
.block-statistic-right{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  width: 50%;
}
.block-statistic-bottom-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 45%;
  width: 100%;
  color: white;
}
.block-statistic-bottom-right{
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  color:white;
}
h3{
  font-weight: lighter;
  margin-top: 0px;
}
.logo-statistique{
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 32%;
}
.valeur-taille-logo-statistic{
  font-size: 0.6em;
  margin-top: 0px;
}
.valeur-taille-chiffre-statistic{
  font-size: 1.4em;
  margin-top: 0px;
}
.taille-block-statistic{
  height: 30px;
}
.containeur-little-white{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.valeur-titre-little-white{
  font-size: 1.2em;
  margin-bottom: 0px;
  color: #4e4e4e;
}
.valeur-text-little-white{
  font-size: 0.6em;
  color: #989898;
}
.containeur-big-white{
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.LEFT{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
}
.big-white-left-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}
.valeur-flechegauche-logo{
  height: 30px;
  width: 30px;
  padding-bottom: 100px;
}
.big-white-left-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 80%;
}
.nav>a{
  color: #989898;
  font-size: 0.6em;
  text-decoration: none;
}
a:hover{
  color:#f0689e;

}
.valeur-vanilla{
  text-transform: uppercase;
  font-size: 0.8em;
}
.valeur-text-big-white{
  font-size: 0.6em;
  color: #777777;
}

.double-button{
  display: flex;
  flex-direction: row;
}
.button-demo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 15%;
  border: solid;
  border-radius: 50px;
  border-color: #e3e3e3;
}
.valeur-button-demo{
  font-size: 0.5em;
}
.button-buy-demo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 15%;
  border: solid;
  border-radius: 50px;
  border-color: #e3e3e3;
  border:none;
  background-color: #fed45c;
  margin-left: 5px;
}
.valeur-button-buy-them{
  font-size: 0.5em;
}
.RIGHT{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
}

.valeur-carre-grey{
  height:230px;
  width: 100%;

}
.block-right-carre{
  height: 100%;
  width: 80%;
}
.block-right-fleche-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
}
.valeur-fleche-logo{
  height: 50px;
  width: 50px;
  padding-bottom: 100px;
}
.block-100p-greyplus{
  width: 100%;
  background-color: #f6f6f6;
}
.containeur-courent-question{
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.block-left-courent-question{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
}
  .block-personel-information{
    height: 70%;
    width: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #ededed;
    margin-right: 20px;
    border-radius: 2px;
    border-color: white;
  }
  .valeur-request{
    color: #4e4e4e;
    margin-left: 10px;
  }
.valeur-text-courent-question{
font-size: 0.6em;
color: #9b9b9b;
margin-left: 10px;
}

  .trois-button-middle-personel-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 100%;

  }
  .first-button-courent-question{
    margin-left: 10px;
    height: 20%;
    width: 100%;
  }
  .middle-button-courent-question{
    margin-left: 10px;
    height: 20%;
    width: 100%;
  }
  .last-button-courent-question{
    margin-left: 10px;
    height: 20%;
    width: 100%;
  }
  .blockImput{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;

}
#messageUn{
  height: 90%;
  width: 90%;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 2px;
  border-width: 1px;
}
.placeholder{
  color:black;
}
.button-yellow-courent-question{
  height: 15%;
  width: 90%;
  background-color: #fed45c;
  border: solid;
  border: none;
  border-radius: 50px;
  margin-left: 10px;
  text-align: center;
}
.valeur-submit{
  font-size: 0.6em;
}
.block-right-courent-question{
  height: 100%;
  width: 50%;
  margin-top: 60px;
}
.twins-block-company{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:40%;
  width: 90%;


}
.company-news-one{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 48%;
box-shadow: 1px 1px 1px 1px #ededed;


}
.block-top-company-one{
  height: 60%;
  width: 100%;
  background-color: #d0d0d0;
  border: solid;
  border-color: #d0d0d0;
  border-radius: 5px 5px 0px 0px;
}
.block-bottom-company-one{
  height: 40%;
  width: 100%;
  background-color: white;
  border: solid;
  border-color: white;
  border-radius: 0px 0px 5px 5px;
}
.company-news-two{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 48%;
  box-shadow: 1px 1px 1px 1px #ededed;
}
.block-top-company-two{
  height: 60%;
  width: 100%;
  background-color: #d0d0d0;
  border: solid;
  border-color: #d0d0d0;
  border-radius: 5px 5px 0px 0px;
}
.block-bottom-company-two{
  height: 40%;
  width: 100%;
  background-color: white;
  border: solid;
  border-color: white;
  border-radius: 0px 0px 5px 5px;
}
.valeur-company{
  color: #222222;
}
.valeur-feb{
  font-size: 0.6em;
}
.valeur-text-text{
  font-size: 0.6em;
}
.valeur-frequently{
  color: #3e3e3e;
}
.question-one{
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
}
.left-question-one{
  height: 100%;
  width: 50%;
}
.right-question-one{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}
.valeur-text-question-one{
  font-size: 0.8em;
  color: #959595;
}
.taille-logo-question-one{
  height: 20px;
}
.question-two{
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
}
.left-question-two{
  height: 100%;
  width: 80%;
  color: #959595;
}
.right-question-two{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 20%;
}
.valeur-text-question-two{
  font-size: 0.8em;
}
.question-three{
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
  color: #959595;
}
.left-question-three{
  height: 100%;
  width: 80%;
}
.right-question-three{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 20%;
}
.valeur-text-question-three{
  font-size: 0.8em;
}
.containeur-help-and-support{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.block-top-help-and-support{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}
.block-help-and-find{

  height: 100%;
  width: 100%;
text-align: center;
}
.valeur-help-and-support{
  color: #222222;
  height: 20%;
  width: 100%;
  font-size: 1.2em;
  margin-top: 50px;
}
.valeur-find-answers{
  color: #777777;
  height: 20%;
  width: 100%;
  margin-bottom: 150px;
}
.block-bottom-help-and-support{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}
.block-one-help-and-support{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 32%;
}
.button-help-and-support-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 40%;
  border: solid;
  border-color: #e3e3e3;
  border-radius: 50px;
  border-width: 1px;
}
.block-two-help-and-support{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 32%;
}
.button-help-and-support-two{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13%;
  width: 40%;
  background-color: #fed45c;
  border: solid;
  border-color: #e3e3e3;
  border-radius: 50px;
  border: none;
}
.block-three-help-and-support{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 32%;
}
.button-help-and-support-three{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 40%;
  border: solid;
  border-color: #e3e3e3;
  border-radius: 50px;
  border-width: 1px;
}
.valeur-logo-help-and-support{
  height: 50px;
}
.valeur-titre-block-bottom{
  font-size: 0.7em;
  color: #222222;
}
.valeur-sous-titre-block-bottom{
  font-size: 0.6;
  color: #c2c2c2;
}
.text-button-block-bottom{
  font-size: 0.6em;
}
.block-100p-blue{
  width: 100%;
  background-image: url(./Bgshapes.png);
}
.containeur-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.block-logo-footer{
  display: flex;
  flex-direction: row;
}
.valeur-text-footer{
  color: #b2b3b4;
}
